.calling-container {
    width: calc(100% - 80px);
    height: 100%;
    margin: 0 0 0 80px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    background: rgba(0,0,0,0.8);
    overflow: hidden;

    .warning {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: normal;
        color: white;
        text-align: center;
        margin: 12px 0;
        height: auto;
        width: 100%;
    }
}

.calling-container > .flex-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: fit-content;
    max-height: 100%;
    flex-grow: 1;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    min-width: 50%;
    flex-grow: 1;
    height: 100%;

}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.width-50 {
    width: 50%;
}

.extra-keyboard {
    height: 100%;
    box-sizing: border-box;
    width: 50%;
    padding: 0 0 16px 0;
}

.calling-container > div {
    place-self: center;
}

.title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-align: center;
    margin: 12px 0 0;
}

.buttonContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 12px;
}

.buttonSpan {
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: medium;
    font-size: 18px;
    letter-spacing: 0.1em;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 12px;
}

.disabled {
    opacity: 0.42;
}

.phoneNumber {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 24px;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
    line-height: 1;
}