.incoming-call-container {
    width: calc(100% - 80px);
    height: 100%;
    margin: 0 0 8px 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
    background: rgba(0,0,0,0.8);

    .warning {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: white;
        text-align: center;
        margin: 12px 0;
        height: 24px;
        flex-grow: 0;
    }
}

.title{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-align: center;
    margin: 12px 0;
    height: 48px;
    flex-grow: 0;
}

.phoneNumber{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    white-space: normal!important;
    max-width: 100%;
    box-sizing: border-box;
    text-overflow: unset!important;
    height: auto;
    flex-grow: 2;
}

.buttons-container{
    height: 50%;
    flex-grow: 2;
}

.buttonSpan{
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 0.1em;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 12px;
}
